@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.overlay-menu{
    position: fixed;
    z-index: 2;
    background-color: #2f3640;
    height: 100vh;
    width: 0;
    overflow-x: hidden;
    transition:  1.2s;
    transform: translateX();
}
.over-active{
    width: 250px;
}

.fa-bars{
    position: absolute;
    top: 40px;
    left: 60px;
    font-size: 22px;
    cursor: pointer;
}
.menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    
}
.menu a{
    text-decoration: none;
    font-size: 22px;
    margin:20px 0 ;
    color: #ccc;
    transition: 0.5s;
    border-radius: 15px;
    transition: 0.5s ease-out;
    padding: 5px 10px;
}
.menu a:hover{
    background-color:#95afc0 ;
    color: #000;
}
.menu-mark{
    position: absolute !important;
    top: 20px !important;
    right: 20px !important;
    font-size: 30px !important;
    cursor: pointer;
}
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 60px 40px 60px 60px;
}
.project{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    flex-wrap: wrap;
}
.project h3{
    text-align: center;
    padding:10px  40px;
    border: 2px solid #ccc;
    width: 150px;
    cursor: pointer;
    transition: 0.5s ease-out;
    font-size: 16px;
    /* border-radius: 20px; */
    max-width: 100%;
}
.new-btn{
    display: flex;
   position: absolute;
   top: 30px;
   right: 40px;
}
.new-btn button{
   background-color: transparent; 
   width: 100%;
   padding: 10px 25px;
   border-color:none;
   font-size: 18px;
   cursor: pointer;
   border-radius: 20px;
   background-color: #30336b;
   color: #fff;

}

.section{
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    position: relative;
}
.project h3:hover{
background-color: #bdc3c7;
}
.sec-active{
    display: flex;
}
.total-side{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.enter span{
    font-size: 14px;
}
.enter p{
    font-size: 13px;
    text-align: center;
}
hr{
    width:200px;
}
.total , .for , .occuped , .vip , .circle{
    border: 2px solid #ccc;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* padding: 10px 100px; */
    height:350px;
}
.top-circle{
    max-width: 100%;
    width: 300px;
    height: 300px;
    color: #000;
    border-radius: 50%;
    position: relative;
    border:1px solid ;
    overflow: hidden;
    margin-top: 30px;
   
}
.top-circle .enter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-table{
    position: absolute;
    z-index: 2;
    top: 25%;
    left: 20%;
    width:60%;
    height: 400px;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,40%);
    background-color: #fff;
    display: none;
}
.modal-all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
}
.modal-left-card{
    display: flex;
    justify-content:center;
    align-items: center;
    /* padding-left: 20px; */
    flex-wrap: wrap;

}
.modal-right-card{
  

}

.modalLeft , .modalRight , .modalTop , .modalBottom{
border: 1px solid #000;
padding-top: 10px;

}
.modal-right-card button{
    background-color: #30336b;
    padding: 5px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    position: absolute;
    bottom: 20px;
    right: 40px;
    
}
.fa-circle-xmark{
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    font-size: 20px;
}
.active{
    display: flex;

}
h5{
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    padding-bottom: 5px;
}
input{
    padding: 5px;
    outline: none;
}
select{
    position: absolute;
    top: 30px;
    right: 20px;
    margin-left: 10px;
    width: 150px;
    height: 25px;
    outline: none;
    border-radius:2px;
    font-size: 16px;
    margin-top: -2%;
    background-color: #7f8fa6;
    color: #fff;
}
option{
    border: none;
    outline: none;
    border-radius:2px;
    font-size: 16px;
}

@media(max-width:1520px) and (min-width:1498px){
    .header{
        padding: 80px 40px;
    }
}
@media(max-width:1498px) and (min-width:1465px){
   .header{
    padding: 80px 30px;
   }
}
    

@media(max-width:1467px) and (min-width:1100px){
    .header{
        padding: 80px;
    }
    
    .project h3{
        width: 70%;
    }
    
    .section{
        padding: 0 80px;
    }
    hr{
        width: 150px;
    }
    .top-circle{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    .total , .for , .ocupped , .vip , .circle{
        height: 250px;
    }
    .modal-top h4{
        padding: 5px 10px;
    }
    .modalLeft , .modalRight , .modalTop , .modalBottom{
        width: 100%;
    }
    .modal-all{
        padding:100px;
    }
    input{
        width: 100%;
    }
    .sec-modal{
        width: 500px;
        position: absolute;
        left: 5%;
    }
    .modal select {
padding: 5px 10px;
    }
}

@media(max-width:1100px) and (min-width:989px){
    .header{
        padding: 80px;
    }
    
    .project h3{
        width: 70%;
    }
    
    .section{
        padding: 0 80px 20px 80px;
    }
    hr{
        width: 150px;
    }
    .top-circle{
        width: 170px;
        height: 170px;
        border-radius: 50%;
    }
    .total , .for , .ocupped , .vip , .circle{
        height: 210px;
    }
    .modal-top h4{
        padding: 5px 10px;
    }
    .modalLeft , .modalRight , .modalTop , .modalBottom{
        width: 100%;
    }
    .modal-all{
        padding:50px;
    }
    input{
        width: 100%;
    }
    .sec-modal{
        width: 500px;
    }
    .modal select {
padding: 5px 10px;
    }
}

@media(max-width:988px) and (min-width:760px){
    .header{
        padding: 40px;
    }
    .project{
        padding-top: 100px;
    }
    .project h3{
        width: 100%;
    }
    .modalLeft , .modalRight , .modalTop , .modalBottom{
        width: 100%;
    }
    .modal-all{
        padding:10px;
    }
    input{
        width: 100%;
    }
    .section{
        padding: 40px;
    
    }
    hr{
        width: 100px;
    }
    .top-circle{
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    .modalLeft , .modalRight , .modalTop , .modalBottom{
        width: 100%;
    }
    .modal-all{
        padding:40px;
    }
    input{
        width: 100%;
    }
    .total , .for , .ocupped , .vip , .circle{
        height: 200px;
        width: 100%;
    }
    .modal-top h4{
        padding: 5px 10px;
    }
    .sec-modal{
        width: 500px;
        
    }
    
}
@media(max-width:760px) and (min-width:600px){
    .header{
        padding:20px;
    }

    .project{
        padding-top: 100px;
    }
    .project h3{
        width:100%;
    }
    .project h3{
        font-size: 16px;
    }
    .modalLeft , .modalRight , .modalTop , .modalBottom{
        width: 100%;
    }
    .modal-all{
        padding:10px;
    }
    input{
        width: 100%;
    }
    .section{
        padding: 20px;
    }
    hr{
        width: 100px;
    }
    .top-circle{
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    .total , .for , .ocupped , .vip , .circle{
        height: 200px;
    }
    
    
}

@media(max-width:600px) and (min-width:500px){
    .header{
        padding: 0 10px;
    }
    .project{
        padding-top: 100px;
    }
    .project h3{
        width: 100%;

    }
    .section{
        padding-top: 50px;
        padding: 10px;
      
    }
    hr{
        width: 70px;

    }
    .top-circle{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .modalLeft , .modalRight , .modalTop , .modalBottom{
        width: 100%;
    }
    .modal-all{
        padding:10px;
    }
    input{
        width: 100%;
    }
    .total , .for , .ocupped , .vip , .circle{
        height: 150px;
    }
    
}

@media(max-width:500px){
    .header{
        padding: 0 20px;
    }
    .project{
        padding-top: 100px;
    }
    .project h3{
        width: 100%;

    }
    .section{
        padding:20px ;
    }
}